@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    color: #FFFFFF;
}

body {
    background: linear-gradient(to right, #1FACA2, #000E3A)
}

nav {
    margin-top: 50px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 10;
    position: relative;
}

nav .left {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .mid {
    margin-left: 80px;
}

.left img {
    margin-right: 15px;
    width: 35px;
    height: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 15px;
}

ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

#login {
    background: rgba(255, 255, 255, 0.25);
    color: white;
    padding: 8px 30px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    min-width: 120px;
    backdrop-filter: blur(5px);
}

.dropdown-content a {
    color: white;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#daftar {
    background: none;
    color: white;
    padding: 8px 30px;
    border-radius: 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.konten1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    transform: translateY(-50px);
}

.konten1 h1 {
    margin-bottom: 15px;
    font-size: 100px;
    font-weight: bold;
}

.konten1 #isi {
    font-size: 20px;
    font-weight: 300;
}

.konten2 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url(asset/back.png);
    background-size: 30%;
    background-position: calc(100% + 200px) center;
    background-repeat: no-repeat;
    z-index: -1;
}

.konten2 .tentang {
    margin-bottom: 40px;
    margin-left: 100px;
    padding-top: 20px;
    padding-bottom: 90px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 800px;
    height: 343;
}

.konten2 .tentang p {
    margin-top: 30px;
    font-size: 14px;
}

.konten2 .tentang h2 {
    font-size: 40px;
}

.konten2 .tentang2 p {
    margin-top: 30px;
    font-size: 14px;
}

.konten2 .tentang2 h2 {
    font-size: 40px;
}

.konten2 .tentang2 {
    margin-bottom: 40px;
    margin-left: 500px;
    padding-top: 20px;
    padding-bottom: 90px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 800px;
    height: 343;
}

.end {
    width: 100%;
    height: 150px;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.7) 80%,
            rgba(0, 0, 0, 1) 100%);
}