@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #00193f, #16b3a3);
}

.container{
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #434343;
    padding: 40px;
}

.container .username label{
    margin-bottom: 5px;
}

.container .password label{
    margin-bottom: 5px;
}

.container .username{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 40px;
}

.container .username input{
    border-radius: 7px;
    width: 350px;
    height: 40px;
}

.container .password input{
    border-radius: 7px;
    width: 350px;
    height: 40px;
}

.container .email{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    gap: 4px;
    margin-bottom: 8px;
    flex-direction: column;
}

.container .email input{
    border-radius: 7px;
    width: 350px;
    height: 40px;
}

.container .password{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.container .uploadSertif{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    margin: 10px 0;
}

.container .link{
    width: 350px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 10px 0;
}

.container .link a {
    color: white;
    text-decoration: none;
}

.container .link #register a{
    color: #1FACA2;
    text-decoration: none;
}

.container .link #register{
    color: #1FACA2;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 60px;
}

.form h2{
    text-align: center;
}

.container button{
 font-weight: bold;
    color: #ffff;
    background-color: #1FACA2;
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 7px;
}

.form_input{
    padding: 20px;
    border: none;
}

.upload-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}
.upload-btn:hover {
  background-color: #4338ca;
}
.upload-btn svg {
  width: 20px;
  height: 20px;
}