*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav .navbar{
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to  left, #1FACA2, #000E3A);
    border-radius: 40px;
    position: relative;
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 50px;
    top: -35px;
}

.navbar .left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.navbar .left label{
    font-size: 24px;
    font-weight: bold;
}

.navbar .left label{
    margin-left: 10px;
}

.navbar .middle ul {
  display: flex;           
  justify-content: center;
  align-items: center;     
  gap: 50px;              
  list-style: none;       
  margin: 0;
  padding: 0;
}

.navbar .middle ul li#lowongan{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.navbar .middle ul li#lamaran{
    color: rgb(206, 202, 202);
}

.navbar .right{
    margin-right: 50px;
}

ul li{
    display: inline;
}

a{
    color: grey;
    text-decoration: none;
}

nav .left img{
    height: 53px;
    width: 37px;
}



.back{
    margin-top: 20px;
    border-radius: 10px;
    background-image: url(asset/Background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 900px;
}

.cardTop {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1; 
}

.back img{
    width: 40px;
    height: 40px;
}

.profile{
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 15px;
}

.profile #perusahaan{
    font-size: 24px;
    font-weight: bold;
}
.profile #posisi{
    font-size: 18px;
}

.seluruh{
    position: relative;
    display: flex;
    flex-direction: row;
    bottom: -30px;
    left: -300px;
    padding-bottom: 20px;
}

.cardDown{
    flex-direction: column;
    background-color: #ffff;
    border: solid 1px grey;
    margin: 10px auto;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 500px;
    width: 900px;
    position: relative;
    z-index: 2; 
    top: -25px;
}

.tengah{
    display: flex;
    align-items: center;
    gap: 8px;
}
.top{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}

.top img{
    height: 25px;
    width: 25px;
}

.list {
    margin-top: 8px;
    list-style-type: disc;   
    padding-left: 20px;       
}

.list li {
    display: list-item;       
    margin-bottom: 8px;       
}

.middle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.middle h2{
    font-size: 24px;
    margin-top: 10px;
}
.bottom{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}

.bottom h2{
    font-size: 24px;
    margin-top: 10px;
}

.button {
    margin-right: 20px;
    margin-top: 15px;
    align-self: flex-end;
    padding: 10px 20px;
    border: none;
    background-color: #1FACA2;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

