* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
    background-color: #f8f9fa;
}

.navbar {
    background: linear-gradient(90deg, #00193f, #16b3a3);
    padding: 14px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.logo-img {
    height: 36px;
    width: auto;
}

.brand-text {
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 450;
    position: relative;
    transition: color 0.3s;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

.nav-link:hover {
    color: rgb(229, 204, 14);
}

.nav-user {
    color: white;
    font-weight: 450;
    font-size: 22px;
}

/* search bar */
.search-bar-container {
    background: linear-gradient(90deg, #00193f, #16b3a3);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25vh;
    padding: 40px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    width: 60%;
    max-width: 600px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.search-input{
    flex: 1;
    border: none;
    outline: none;
    padding: 15px 16px;
    font-size: 15px;
    color: #333;
}

.search-button {
    background-color: #16b3a3;
    color: white;
    border: none;
    padding: 15px 24px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 0 15px 15px 0;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #109485;
}

/* Container untuk card - DIUBAH */
.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}


/* Card */
.card {
    position: relative;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #e0e0e0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 160px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 6px;
}

.card-perusahaan {
    font-size: 0.9rem;
    font-weight: 500;
    color: #888;
    margin-bottom: 12px;
}

.card-text {
    color: #666;
    line-height: 1.5;
}

/* status */
.status {
    position: absolute;
    top: 22px;
    right: 22px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

/* warna status lamaran */
.status.diterima {
    background-color: #28AE9D;
}

.status.ditolak {
    background-color: #AE2828;
}

.status.diproses {
    background-color: #EDB02D; 
}

/* Responsive */
@media (max-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}
