@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, #1FACA2, #114841);
}

.container{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #434343;
    width: 400px;
    padding: 40px 20px; 
}

.container h2{
    margin-bottom: 20px;
}

.container .form-group{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.container .form-group label{
    margin-bottom: 5px;
}

.container .form-group input{
    border-radius: 7px;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.container .link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container .link a {
    color: white;
    text-decoration: none;
}

.container .link #register a{
    color: #1FACA2;
}

.container button{
    font-weight: bold;
    color: #fff;
    background-color: #1FACA2;
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover{
    background-color: #17a299;
}
